# List Comprehension
for nya di satu baris

In [1]:
l = [x for x in 'word']

In [2]:
l

['w', 'o', 'r', 'd']

In [3]:
l = [x**2 for x in range(0,11)]

In [4]:
l

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
l = [x**2 for x in range(0,11) if x % 2 == 0]

In [6]:
l

[0, 4, 16, 36, 64, 100]

In [8]:
# Convert Celsius to Fahrenheit
celsius = [0,10,20.1,34.5]

fahrenheit = [ ((float(9)/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

# nested

In [9]:
lst = [ x**2 for x in [x**2 for x in range(11)]]
lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]